@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
:root {
  --red: hsl(0, 100%, 68%);
  --very-dark-red: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
  --white: hsl(0, 0%, 100%);
}
body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin: 0 0 0 10rem;
  overflow: hidden;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: var(--very-dark-red);
  width: 50%;
}
header {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  margin: 2rem 0 5rem 0;
}
.logo {
  height: fit-content;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 2rem 0 0;
}
main {
  display: flex;
}
.headingParagraph {
  font-family: "Barlow Condensed", sans-serif;
  color: var(--grayish-blue);
  letter-spacing: 0.2em;
}
.textPargraph {
  color: var(--dark-grayish-blue);
  margin: 2rem 0 4rem 0;
  width: 50%;
}
.mainText {
  width: 50%;
}
.new {
  background-color: var(--very-dark-red);
  color: var(--light-grayish-blue);
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  font-weight: 700;
  margin: 0 1rem 0 0;
  letter-spacing: normal;
}
.demo {
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--red);
  border: none;
  color: var(--light-grayish-blue);
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.mainImage {
  position: absolute;
  right: -28.5rem;
}
.mainImage img {
  width: 72%;
}
.live {
  font-family: "Barlow Condensed", sans-serif;
  background: none;
  border: none;
  color: var(--grayish-blue);
  margin: 0 0 0 2rem;
  letter-spacing: 0.2em;
}
.login {
  color: var(--grayish-blue);
  margin: 0 10rem 0 6rem;
}
.ilustration {
  position: absolute;
  width: 45rem;
  height: 21rem;
  background-color: var(--grayish-blue);
  opacity: 0.2;
  z-index: -1;
  left: 40rem;
  top: -1rem;
  border-bottom-left-radius: 63px;
}
.login:hover {
  text-decoration: underline;
  cursor: pointer;
}
.pricing:hover {
  text-decoration: underline;
  cursor: pointer;
}
.features:hover {
  text-decoration: underline;
  cursor: pointer;
}
.product:hover {
  text-decoration: underline;
  cursor: pointer;
}
.demo:hover {
  cursor: pointer;
  opacity: 0.8;
}
.mobile {
  display: none;
}
.attribution {
  margin: 7rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  body {
    margin: 0 2rem;
  }
  main {
    flex-direction: column-reverse;
  }
  .ilustration {
    left: 12rem;
  }
  .mainImage {
    position: initial;
  }
  .mainImage img {
    width: 152%;
  }
  .hamburger-icon {
    width: 10%;
    height: 15%;
    margin: 0.3rem 0;
  }
  .mainText {
    width: 100%;
  }
  h1 {
    width: 100%;
  }
  .new {
    padding: 0.2rem 0.6rem;
  }
  .textPargraph {
    width: 98%;
    margin: 0rem 0 2rem 0;
  }
  .live {
    margin: 0 0 0 0.3rem;
  }
  li {
    text-align: center;
    margin: 1.5rem 2rem;
  }
  .login {
    margin: 1.5rem 8rem;
  }
  ul {
    padding: 0;
  }
  hr {
    color: var(--light-grayish-blue);
    width: 90%;
  }
  .menu {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
    position: absolute;
    margin: 3rem 0.5rem;
  }
  .hidden {
    display: none;
  }
  .close-icon {
    height: fit-content;
  }
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
  body {
    margin: 0 0 0 2rem;
  }
  .mainImage {
    right: -32.5rem;
  }
  .login {
    margin: 0 2rem 0 1rem;
  }
  .ilustration {
    left: 25rem;
  }
  h1 {
    width: 72%;
  }
  .textPargraph {
    width: 72%;
  }
}
